:root {
    background: rgba(34,34,34, 1.0);
}

html body {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

canvas {
    display: block;
    /*background: rgba(255, 255, 255, 1.0);*/
    /*border: 1px solid rgba(255, 255, 255, 0.5);*/
    /*border-radius: 50px;*/
    /*flex: 1;*/
}