    body {
      animation: fading 45s infinite;
      background-color: rgba(#553A7A);
      margin: 0px;
      padding: 0px;
      font-family: 'Lato', sans-serif;
      color:  rgba(255,255,255,1);
      height: 100%;
    }

    @keyframes fading {
      0%   { background: #553A7A; }
      20%  { background: #3F7993; }
      40%  { background: #C32583; }
      60% { background: #F08904; }
      80% { background: #A53BA8; }
      100%   { background: #553A7A;}
    }

    @-webkit-keyframes fading {
      0%   { background: #553A7A; }
      20%  { background: #3F7993; }
      40%  { background: #C32583; }
      60% { background: #F08904; }
      80% { background: #A53BA8; }
      100%   { background: #553A7A;}
    }

    h1 {
      font-weight: 100;
      text-align: center;
      margin: 60px;
      font-size: 120px;
    }

    h1:before{
      content: attr(class) ":";
      font-size: 22px;
      position: relative;
      top: -69px;
      left: 0;
      text-transform: uppercase;
    }